.text-primary {
    color: #0478bd !important;
  }

  .pl-7 {
    padding-left: 72px;
  }

  .mt--2 {
    margin-top: -1rem !important;
  }

  .mt--2,
  .my--2 {
    margin-top: -1.5rem !important;
  }

  .m--4 {
    margin: -1.5rem !important;
  }

  .mt--4,
  .my--4 {
    margin-top: -1.5rem !important;
  }

  .mr--4,
  .mx--4 {
    margin-right: -1.5rem !important;
  }

  .mb--4,
  .my--4 {
    margin-bottom: -1.5rem !important;
  }

  .ml--4,
  .mx--4 {
    margin-left: -1.5rem !important;
  }

  .m--3 {
    margin: -1rem !important;
  }

  .mt--3,
  .my--3 {
    margin-top: -1rem !important;
  }

  .mr--3,
  .mx--3 {
    margin-right: -1rem !important;
  }

  .mb--3,
  .my--3 {
    margin-bottom: -1rem !important;
  }

  .ml--3,
  .mx--3 {
    margin-left: -1rem !important;
  }

  .text-blue {
    color: #5e72e4 !important;
  }

  a.text-blue:hover, a.text-blue:focus {
    color: #233dd2 !important;
  }

  .text-indigo {
    color: #5603ad !important;
  }

  a.text-indigo:hover, a.text-indigo:focus {
    color: #310262 !important;
  }

  .text-purple {
    color: #8965e0 !important;
  }

  a.text-purple:hover, a.text-purple:focus {
    color: #5a2acf !important;
  }

  .text-pink {
    color: #f3a4b5 !important;
  }

  a.text-pink:hover, a.text-pink:focus {
    color: #ea607e !important;
  }

  .text-red {
    color: #f5365c !important;
  }

  a.text-red:hover, a.text-red:focus {
    color: #d40b33 !important;
  }

  .text-orange {
    color: #fb6340 !important;
  }

  a.text-orange:hover, a.text-orange:focus {
    color: #ea3005 !important;
  }

  .text-yellow {
    color: #ffd600 !important;
  }

  a.text-yellow:hover, a.text-yellow:focus {
    color: #b39600 !important;
  }

  .text-green {
    color: #2dce89 !important;
  }

  a.text-green:hover, a.text-green:focus {
    color: #1f8f5f !important;
  }

  .text-teal {
    color: #11cdef !important;
  }

  a.text-teal:hover, a.text-teal:focus {
    color: #0b90a8 !important;
  }

  .text-cyan {
    color: #2bffc6 !important;
  }

  a.text-cyan:hover, a.text-cyan:focus {
    color: #00dea2 !important;
  }

  .text-white {
    color: #fff !important;
  }

  a.text-white:hover, a.text-white:focus {
    color: #d9d9d9 !important;
  }

  .text-gray {
    color: #8898aa !important;
  }

  a.text-gray:hover, a.text-gray:focus {
    color: #607286 !important;
  }

  .text-gray-d {
    color: #5e5e5e !important;
  }

  a.text-gray-d:hover, a.text-gray-d:focus {
    color: #4d4d4d !important;
  }

  .text-gray-dark {
    color: #32325d !important;
  }

  a.text-gray-dark:hover, a.text-gray-dark:focus {
    color: #17172b !important;
  }

  .text-light {
    color: #ced4da !important;
  }

  a.text-light:hover, a.text-light:focus {
    color: #a2aeb9 !important;
  }

  .text-lighter {
    color: #e9ecef !important;
  }

  a.text-lighter:hover, a.text-lighter:focus {
    color: #bdc6cf !important;
  }

  body {
    font-family: "Mukta", sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    min-height: 0px !important;
  }

  .paddingB {
    padding-bottom:150px;
  }

  .back-ground {
    background-image: url(../imgs/BgLogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .fixed-left {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .left-menu {
    position: fixed;
  }
  .left-menu .dropdown-menu {
  min-width: 14.7rem;
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

  #page-content-wrapper {
    margin-left: 241px;
  }

  @media (max-width: 576px) {
    #page-content-wrapper {
      margin-left: 0px;
    }
  }

  .navbar {
    background-color: #FFF;
  }

  .navbar .getapp {
    border-radius: 0%;
    height: 40px;
    margin-right: 25px;
    font-size: 12pt;
    font-weight: 700;
    color: #0478bd;
    border-color: #0478bd;
  }

  .navbar .getapp:hover {
    color: white;
    background-color: #0478c9;
    border: 1px solid #0478c9;
  }

  .navbar button.Lang {
    border-radius: 0%;
    height: 40px;
    border: none;
    border-left: 2px solid #3a4348;
    font-size: 12pt;
    font-weight: 700;
  }

  .navbar button.Lang:hover {
    color: #0478bd;
    background-color: #fff;
    border: none;
    border-left: 2px solid #3a4348;
  }

  .navbar .h3 {
    color: #000;
  }

  @media (max-width: 576px) {
    .navbar .h3 {
      font-size: 12pt;
      margin-left: -10px;
    }
  }

  .bg-login {
    background-color: white;
    opacity: 1;
    width: 80%;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
  }

  .bg-login form .text-forget {
    margin-top: -50px;
    float: right;
    margin-bottom: 60px;
    color: #777777;
    font-size: 13pt;
    font-weight: 500;
  }

  .bg-login .text-account {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  .bg-login .text-account a {
    -webkit-transition: .5s all ease;
    transition: .5s all ease;
    color: #0478bd;
    font-size: 14pt;
    margin-top: 15px;
    font-weight: 800;
    margin-top: 12px;
  }

  .bg-login .text-account a:hover, .bg-login .text-account a:focus {
    text-decoration: none;
    color: #0478bd;
    outline: none !important;
  }

  .hero-wrap {
    width: 100%;
    height: 500px;
    background-image: url(../imgs/04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
  }

  .hero-wrap h2 {
    font-size: 38px;
    color: #fff;
    line-height: 1.5;
    font-weight: 700;
  }

  .hero-wrap .h2 span {
    color: #0478bd;
  }

  .hero-wrap .h3 {
    color: white;
  }

  @media (max-width: 576px) {
    .hero-wrap .h3 {
      font-size: 40px;
    }
  }

  .slider-text {
    position: absolute;
    top: 200px;
  }

  .slider-text a {
    text-decoration: none;
    cursor: text;
  }

  .slider-text .txt-rotate > .wrap {
    position: absolute;
    left: 100px;
  }

  .slider-text .txt-rotate > .wrap:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -10px;
    width: 5px;
    height: 100%;
    content: '';
    background: #0478bd;
    text-decoration: blink;
    -webkit-animation-name: blinker;
            animation-name: blinker;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }

  .slider-text h3 {
    font-size: 35pt;
    color: #fff;
    line-height: 1.5;
    font-weight: 700;
    font-family: "Mukta", sans-serif;
  }

  /* Start-LoginAbout */
  .margin-top {
    margin-top: 90px;
  }

  .bg-About {
    background-image: url(../imgs/BgLoginAbout.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-About .card {
    border-radius: 50%;
    padding: 10px;
    width: 170px;
    height: 170px;
  }

  .bg-About .card:hover {
    background-color: #d5f0ff;
    border-color: #9cdcff;
  }

  .bg-About .card-body {
    padding-top: 30px;
  }

  .bg-About .card-body a {
    color: #3a4348;
    text-decoration: none;
  }

  /* End-LoginAbout */
  /* Start-Registr */
  .bg-registr {
    background-color: #fff;
    margin-top: 130px;
  }

  .bg-registr .sub-buttom {
    background-color: #0478bd;
    font-size: 12pt;
    font-weight: 400;
    color: white;
  }

  .bg-registr .sub-buttom:hover {
    background-color: white;
    border: 1px solid #0478bd;
    color: #0478bd;
    font-weight: bold;
  }

  /* End-Registr */
  /* ShowMoreOne */
  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    -webkit-transition: .25s ease;
    transition: .25s ease;
  }

  .read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }

  /* ShowMoreTwo */
  .read-more-targetT {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    -webkit-transition: .25s ease;
    transition: .25s ease;
  }

  .read-more-stateT:checked ~ .read-more-wrap .read-more-targetT {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }

  #hidden_div {
    display: none;
  }

  .avatar-wrapper {
    position: relative;
    height: 150px;
    width: 150px;
    margin: 50px auto;
    border-radius: 50%;
    overflow: hidden;
    -webkit-box-shadow: 1px 1px 10px -5px black;
            box-shadow: 1px 1px 10px -5px black;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  .avatar-wrapper:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    cursor: pointer;
  }

  .avatar-wrapper:hover .profile-pic {
    opacity: .5;
  }

  .avatar-wrapper .profile-pic {
    height: 100%;
    width: 100%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }

  .avatar-wrapper .profile-pic:after {
    font-family: "Font Awesome 5 Free";
    /* This is the correct font-family*/
    content: "\f007";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 90px;
    background: #ecf0f1;
    color: #0478bd;
    text-align: center;
  }

  .avatar-wrapper .upload-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .avatar-wrapper .upload-button .fa-arrow-circle-up {
    position: absolute;
    font-size: 150px;
    top: 0px;
    left: 0;
    text-align: center;
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    color: #0478bd;
    background-color: #ecf0f1;
  }

  .avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
    opacity: 1;
  }

  /* Footer */
  .copy-right {
    background-color: #fff;
    border-top: 1px solid #ddd;
  }

  .copy-right h6 {
    color: #3a4348;
    font-weight: 600;
    font-size: 11pt;
    margin-top: 5px;
  }

  .copy-right a {
    color: #0478bd;
    text-decoration: none;
  }

  .social-icon {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 12pt;
  }

  .social-icon .fa-twitter:before {
    color: #0478bd;
    content: "\f099";
  }

  .social-icon .fa-facebook-f:before {
    color: #0478bd;
    content: "\f39e";
  }

  .social-icon .fa-instagram:before {
    color: #0478bd;
    content: "\f16d";
  }

  .social-icon .fa-google-plus-g:before {
    color: #0478bd;
    content: "\f0d5";
  }

  /* toggle Button*/
  .toggle {
    padding-top: 10px;
    margin-bottom: auto;
  }

  .toggle:last-child {
    margin-bottom: 0;
  }

  .toggle__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .toggle__button {
    width: 60px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: visible;
    padding: 5px;
    position: relative;
    border-radius: 25px;
    cursor: pointer;
    border: solid 4px #FFF;
    background-color: transparent;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }

  .toggle__switch {
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 100%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    background-color: #FFF;
  }

  .toggle__button[aria-checked="true"] {
    border-color: #38d667;
  }

  .toggle__button[aria-checked="false"] .toggle__switch {
    left: 5px;
  }

  .toggle__button[aria-checked="true"] .toggle__switch {
    right: 5px;
    background-color: #38d667;
  }

  /* Avatar*/
  .rounded-circle, .avatar.rounded-circle img {
    border-radius: 50% !important;
  }

  .avatar {
    color: #fff;
    background-color: #adb5bd;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 0.375rem;
    height: 48px;
    width: 48px;
  }

  .avatar img {
    width: 100%;
    border-radius: 0.375rem;
  }

  .avatar + .avatar-content {
    display: inline-block;
    margin-left: .75rem;
  }

  .avatar-lg {
    width: 58px;
    height: 58px;
    font-size: 0.875rem;
  }

  .avatar-sm {
    width: 36px;
    height: 36px;
    font-size: 0.875rem;
  }

  .avatar-group .avatar {
    position: relative;
    z-index: 2;
    border: 2px solid #fff;
  }

  .avatar-group .avatar:hover {
    z-index: 3;
  }

  .avatar-group .avatar + .avatar {
    margin-left: -1rem;
  }

  /*dropdpwn-menu*/
  .dropdown,
  .dropup,
  .dropright,
  .dropleft {
    display: inline-block;
  }

  .dropdown-menu {
    min-width: 12rem;
  }

  .dropdown-menu .dropdown-item {
    padding: .5rem 1rem;
    font-size: 0.875rem;
  }

  .dropdown-menu .dropdown-item > i,
  .dropdown-menu .dropdown-item > svg {
    margin-right: 1rem;
    font-size: 1rem;
    vertical-align: -17%;
  }

  .dropdown-header {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .625rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  .dropdown-menu a.media > div:first-child {
    line-height: 1;
  }

  .dropdown-menu a.media p {
    color: #8898aa;
  }

  .dropdown-menu a.media:hover .heading,
  .dropdown-menu a.media:hover p {
    color: #172b4d !important;
  }

  .dropdown-menu-sm {
    min-width: 100px;
    border: 0.4375rem;
  }

  .dropdown-menu-lg {
    min-width: 320px;
    border-radius: 0.4375rem;
  }

  .dropdown-menu-xl {
    min-width: 420px;
    border-radius: 0.4375rem;
  }

  /* Start-Prolfile */
  .navbarp {
    background-color: #0478bd;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .bg-page {
    background-image: url('../imgs/bgPP.jpg');
    background-size: cover;
  }

  .menu-info {
    margin-top: 30px;
    background-color: #0478bd;
    border-radius: 30px;
    margin-right: 11px;
  }

  .menu-info li {
    border-radius: 30px;
    margin-right: 30px;
    margin-left: 30px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .menu-info a {
    color: white;
    font-size: 13pt;
  }

  .nav-pills .nav-link.active {
    background-color: #fff;
    color: #0478bd;
    font-size: 13pt;
    border-radius: 30px;
  }

  .nav-pills .nav-link {
    border-radius: 20px;
  }

  .pill-box {
    margin-left: 30px;
  }

  @media (max-width: 576px) {
    .pill-box {
      margin-left: 0px;
    }
  }

  .tab-content {
    padding: 10px;
    background-color: #f3f3f36b;
    border-radius: 20px;
  }

  .pills-main {
    background-color: white;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    border-left: 3px solid #0478bd;
  }

  .pills-main-yellow {
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    border-left: 3px solid #ffd600;
  }

  .pills-main-teal {
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    border-left: 3px solid #11cdef;
  }

  .pills-main-orange {
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    border-left: 3px solid #fb6340;
  }

  .pills-main-green {
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    border-left: 3px solid #1f8f5f;
  }

  .pills-main-pink {
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    border-left: 3px solid #ea607e;
  }

  .pills-his-yellow {
    border: 1px solid #f3f3f3;
    border-radius: 50%;
    border-left: 3px solid #ffd600;
  }

  .pills-his-teal {
    border: 1px solid #f3f3f3;
    border-radius: 50%;
    border-left: 3px solid #11cdef;
  }

  .pills-his-orange {
    border: 1px solid #f3f3f3;
    border-radius: 50%;
    border-left: 3px solid #fb6340;
  }

  .pills-his-green {
    border: 1px solid #f3f3f3;
    border-radius: 50%;
    border-left: 3px solid #1f8f5f;
  }

  .pills-his-pink {
    border: 1px solid #d6d6d6;
    border-radius: 50%;
    border-left: 3px solid #ea607e;
  }

  .dropdown-menu .list-group-flush .list-group-item {
    background-color: white;
    color: #525252;
    font-weight: 500;
    font-size: 10pt;
    border-top: none;
    border-bottom: none;
    padding-top: 10px;
    padding-bottom: 0px;
    border-left: none;
    -webkit-transition: none;
    transition: none;
  }

  .dropdown-menu .list-group-flush .list-group-item:hover {
    color: #525252;
    font-size: 10pt;
    background-color: #0479bd1a;
    padding-left: 20px;
  }

  .dropdown-menu .list-group-flush .list-group-item:active {
    color: white;
    background-color: #0478bd;
  }

  .dropdown-menu h6 {
    font-weight: bold;
    font-size: 10pt;
  }

  .menu-history {
    margin-top: 30px;
  }

  .menu-history li {
    width: 100px;
    height: 100px;
  }

  .menu-history a {
    color: #4d4d4d;
  }

  .menu-history a h6 {
    font-size: 13pt;
    margin-top: 40px;
  }

  .menu-history .nav-link.active {
    background-color: #fff;
    color: #0478b0;
    border-radius: 50%;
    margin-left: 8px;
    width: 100px;
    height: 100px;
  }

  .menu-history .nav-link {
    border-radius: 50%;
    margin-left: 10px;
    background-color: #fff;
  }

  .pill-box-f {
    margin-left: 0px;
  }

  @media (max-width: 576px) {
    .pill-box-f {
      margin-left: 0px;
    }
  }

  /* End-Prolfile */
  /*start-EditProfile*/
  .view {
    z-index: 99;
  }

  .horizontal-scoroll {
    width: 800px;
    overflow-x: scroll;
  }

  .row-text {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
  }

  .row-text-f {
    background-color: white;
    border-radius: 10px;
  }

  #cont {
    height: 410px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .fH-text {
    border-top-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    background-color: #0478bd;
    width: 180px;
    height: 50px;
    margin-left: -15px;
    padding-left: 50px;
    padding-top: 10px;
    font-size: 16pt;
    color: white;
  }

  .ui.form .inline.field > :first-child, .ui.form .inline.fields .field > :first-child {
    font-size: 14pt;
  }

  /*Switch*/
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .img-header {
    background-image: url(../img/02.jpg);
    background-size: cover;
    width: 100%;
  }

  .bg-main {
    background-image: url(../img/BgLogin.jpg);
  }

  .title-info {
    color: #0478bd;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .title-label {
    font-size: 12pt;
    padding-top: 3px;
    font-weight: 600;
  }

  .label-input {
    font-size: 12pt;
    padding-top: 3px;
    font-weight: 600;
  }

  .label-family {
    font-size: 11pt;
    margin-bottom: 8px;
  }

  .ui.selection.dropdown {
    min-width: 11em;
    min-height: 2em;
  }

  .title-sub {
    font-size: 10pt;
    padding-bottom: 6px;
    font-weight: bold;
  }

  .ui.input > input:focus {
    border: 1px solid #0478bd;
  }

  .ui.form .inline.field > .selection.dropdown:focus {
    border: 1px solid #0478bd;
  }

  .ui.selection.active.dropdown:hover .menu {
    border: 1px solid #0478bd;
  }

  .ui.selection.active.dropdown .menu {
    border: 1px solid #0478bd;
  }

  .ui.selection.active.dropdown .menu:hover {
    border: 1px solid #0478bd;
  }

  .ui.selection.active.dropdown .menu:hover:focus {
    border: 1px solid #0478bd;
  }

  .toggle {
    padding-top: 10px;
    margin-bottom: auto;
  }

  .toggle:last-child {
    margin-bottom: 0;
  }

  .toggle__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .toggle__button {
    width: 60px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: visible;
    padding: 5px;
    position: relative;
    border-radius: 25px;
    cursor: pointer;
    border: solid 4px #FFF;
    background-color: transparent;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }

  .toggle__switch {
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 100%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    background-color: #FFF;
  }

  .toggle__button[aria-checked="true"] {
    border-color: #00f218;
  }

  .toggle__button[aria-checked="false"] .toggle__switch {
    left: 5px;
  }

  .toggle__button[aria-checked="true"] .toggle__switch {
    right: 5px;
    background-color: #00f218;
  }

  .mt--9 {
    margin-top: -80px;
  }

  .btn-primary {
    color: #fff;
    background-color: #0478bd;
    border-color: #0478bd;
  }

  .text-primary {
    color: #0478bd;
  }

  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

  .card-profile-image img {
    position: absolute;
    left: 50%;
    max-width: 140px;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    border: 3px solid #fff;
    border-radius: .375rem;
  }

  h4.text-pills {
    font-size: 12pt;
    font-weight: bold;
    color: #3a4348;
  }

  .cursor {
    cursor: pointer;
  }

  @media (max-width: 576px) {
    .d-xs-none {
      display: none !important;
    }
    .d-xs-inline {
      display: inline !important;
    }
    .d-xs-inline-block {
      display: inline-block !important;
    }
    .d-xs-block {
      display: block !important;
    }
    .d-xs-table {
      display: table !important;
    }
    .d-xs-table-row {
      display: table-row !important;
    }
    .d-xs-table-cell {
      display: table-cell !important;
    }
    .d-xs-flex {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
    }
    .d-xs-inline-flex {
      display: -webkit-inline-box !important;
      display: -ms-inline-flexbox !important;
      display: inline-flex !important;
    }
  }

  .slide-img img {
    margin-top: 30px;
    border-radius: 10px;
  }

  .contactinfo {
    padding-top: 80px;
    padding-bottom: 35px;
  }

  .contactinfo .info {
    background-color: #f0f0f07c;
    margin: 5px;
    width: 263px;
    height: 150px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .contactinfo .info h5 {
    padding-bottom: 80px;
    font-size: 13pt;
  }

  .contactinfo .info h5 a {
    padding-top: 60px;
    color: #3a4348;
    cursor: pointer;
    font-weight: bold;
  }

  .tab-contact {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.849);
    border-radius: 20px;
  }

  .contact {
    padding-top: 80px;
    padding-bottom: 35px;
  }

  .contact .header-booktable h1 {
    color: #0478bd;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-bottom: 50px;
  }

  .contact form .form-group label {
    color: #000000;
    font-size: 15pt;
  }

  .contact form .form-group input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 52px !important;
    background: transparent !important;
    color: #000000 !important;
    font-size: 16px;
    border-radius: 5px;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }

  .contact form .form-group input:focus, .contact form .form-group input:active {
    border: 1px solid #0478bd;
  }

  .contact form .form-group textarea {
    border: 1px solid rgba(0, 0, 0, 0.3);
    height: 150px !important;
    background: transparent !important;
    color: #000000 !important;
    font-size: 16px;
    border-radius: 5px;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }

  .contact form .form-group textarea:focus, .contact form .form-group textarea:active {
    border: 1px solid #0478bd;
  }

  .contact form .btn-custom {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffd600;
    background-color: white;
    border: 1px solid #ffd600;
  }

  /*End-EditProfile*/
  /*# sourceMappingURL=style.css.map */

  /* password validation */
#message {
    display:none;
    background: #252525;
    color: #FFF;
    border-radius: 5%;
    position: relative;
    padding: 15px;
    margin-top: 20px;
  }
  #message h3{
      font-size: 16px !important;
      margin-bottom: 10px;
  }
  #message p {
    padding-left: 13px;
    font-size: 15px;
  }
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  .vaild span{
      color:#FFF;
  }
  .valid:before {
    position: relative;
    font-size: 14pt;
    left: -13px;
    content: "✔";
  }
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  .invalid span{
    color:#FFF;
  }
  .invalid:before {
    position: relative;
    font-size: 14pt;
    left: -13px;
    content: "✖";
  }
  /* password validation */
  /* country picker */

  .iti {
    position: relative;
    display: inline-block; }
    .iti * {
      box-sizing: border-box;
      -moz-box-sizing: border-box; }
    .iti__hide {
      display: none; }
    .iti__v-hide {
      visibility: hidden; }
    .iti input, .iti input[type=text], .iti input[type=tel] {
      position: relative;
      z-index: 0;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      padding-right: 36px;
      margin-right: 0; }
    .iti__flag-container {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      padding: 1px; }
    .iti__selected-flag {
      z-index: 1;
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 6px 0 8px; }
    .iti__arrow {
      margin-left: 6px;
      width: 0;
      height: 0;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-top: 4px solid #555; }
      .iti__arrow--up {
        border-top: none;
        border-bottom: 4px solid #555; }
    .iti__country-list {
      position: absolute;
      z-index: 2;
      list-style: none;
      text-align: left;
      padding: 0;
      margin: 0 0 0 -1px;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
      background-color: white;
      border: 1px solid #CCC;
      white-space: nowrap;
      max-height: 200px;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch; }
      .iti__country-list--dropup {
        bottom: 100%;
        margin-bottom: -1px; }
      @media (max-width: 500px) {
        .iti__country-list {
          white-space: normal; } }
    .iti__flag-box {
      display: inline-block;
      width: 20px; }
    .iti__divider {
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid #CCC; }
    .iti__country {
      padding: 5px 10px;
      outline: none; }
    .iti__dial-code {
      color: #999; }
    .iti__country.iti__highlight {
      background-color: rgba(0, 0, 0, 0.05); }
    .iti__flag-box, .iti__country-name, .iti__dial-code {
      vertical-align: middle; }
    .iti__flag-box, .iti__country-name {
      margin-right: 6px; }
    .iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel] {
      padding-right: 6px;
      padding-left: 52px;
      margin-left: 0; }
    .iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container {
      right: auto;
      left: 0; }
    .iti--allow-dropdown .iti__flag-container:hover {
      cursor: pointer; }
      .iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
        background-color: rgba(0, 0, 0, 0.05); }
    .iti--allow-dropdown input[disabled] + .iti__flag-container:hover,
    .iti--allow-dropdown input[readonly] + .iti__flag-container:hover {
      cursor: default; }
      .iti--allow-dropdown input[disabled] + .iti__flag-container:hover .iti__selected-flag,
      .iti--allow-dropdown input[readonly] + .iti__flag-container:hover .iti__selected-flag {
        background-color: transparent; }
    .iti--separate-dial-code .iti__selected-flag {
      background-color: rgba(0, 0, 0, 0.05); }
    .iti--separate-dial-code .iti__selected-dial-code {
      margin-left: 6px; }
    .iti--container {
      position: absolute;
      top: -1000px;
      left: -1000px;
      z-index: 1060;
      padding: 1px; }
      .iti--container:hover {
        cursor: pointer; }

  .iti-mobile .iti--container {
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    position: fixed; }

  .iti-mobile .iti__country-list {
    max-height: 100%;
    width: 100%; }

  .iti-mobile .iti__country {
    padding: 10px 10px;
    line-height: 1.5em; }

  .iti__flag {
    width: 20px; }
    .iti__flag.iti__be {
      width: 18px; }
    .iti__flag.iti__ch {
      width: 15px; }
    .iti__flag.iti__mc {
      width: 19px; }
    .iti__flag.iti__ne {
      width: 18px; }
    .iti__flag.iti__np {
      width: 13px; }
    .iti__flag.iti__va {
      width: 15px; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .iti__flag {
        background-size: 5652px 15px; } }
    .iti__flag.iti__ac {
      height: 10px;
      background-position: 0px 0px; }
    .iti__flag.iti__ad {
      height: 14px;
      background-position: -22px 0px; }
    .iti__flag.iti__ae {
      height: 10px;
      background-position: -44px 0px; }
    .iti__flag.iti__af {
      height: 14px;
      background-position: -66px 0px; }
    .iti__flag.iti__ag {
      height: 14px;
      background-position: -88px 0px; }
    .iti__flag.iti__ai {
      height: 10px;
      background-position: -110px 0px; }
    .iti__flag.iti__al {
      height: 15px;
      background-position: -132px 0px; }
    .iti__flag.iti__am {
      height: 10px;
      background-position: -154px 0px; }
    .iti__flag.iti__ao {
      height: 14px;
      background-position: -176px 0px; }
    .iti__flag.iti__aq {
      height: 14px;
      background-position: -198px 0px; }
    .iti__flag.iti__ar {
      height: 13px;
      background-position: -220px 0px; }
    .iti__flag.iti__as {
      height: 10px;
      background-position: -242px 0px; }
    .iti__flag.iti__at {
      height: 14px;
      background-position: -264px 0px; }
    .iti__flag.iti__au {
      height: 10px;
      background-position: -286px 0px; }
    .iti__flag.iti__aw {
      height: 14px;
      background-position: -308px 0px; }
    .iti__flag.iti__ax {
      height: 13px;
      background-position: -330px 0px; }
    .iti__flag.iti__az {
      height: 10px;
      background-position: -352px 0px; }
    .iti__flag.iti__ba {
      height: 10px;
      background-position: -374px 0px; }
    .iti__flag.iti__bb {
      height: 14px;
      background-position: -396px 0px; }
    .iti__flag.iti__bd {
      height: 12px;
      background-position: -418px 0px; }
    .iti__flag.iti__be {
      height: 15px;
      background-position: -440px 0px; }
    .iti__flag.iti__bf {
      height: 14px;
      background-position: -460px 0px; }
    .iti__flag.iti__bg {
      height: 12px;
      background-position: -482px 0px; }
    .iti__flag.iti__bh {
      height: 12px;
      background-position: -504px 0px; }
    .iti__flag.iti__bi {
      height: 12px;
      background-position: -526px 0px; }
    .iti__flag.iti__bj {
      height: 14px;
      background-position: -548px 0px; }
    .iti__flag.iti__bl {
      height: 14px;
      background-position: -570px 0px; }
    .iti__flag.iti__bm {
      height: 10px;
      background-position: -592px 0px; }
    .iti__flag.iti__bn {
      height: 10px;
      background-position: -614px 0px; }
    .iti__flag.iti__bo {
      height: 14px;
      background-position: -636px 0px; }
    .iti__flag.iti__bq {
      height: 14px;
      background-position: -658px 0px; }
    .iti__flag.iti__br {
      height: 14px;
      background-position: -680px 0px; }
    .iti__flag.iti__bs {
      height: 10px;
      background-position: -702px 0px; }
    .iti__flag.iti__bt {
      height: 14px;
      background-position: -724px 0px; }
    .iti__flag.iti__bv {
      height: 15px;
      background-position: -746px 0px; }
    .iti__flag.iti__bw {
      height: 14px;
      background-position: -768px 0px; }
    .iti__flag.iti__by {
      height: 10px;
      background-position: -790px 0px; }
    .iti__flag.iti__bz {
      height: 14px;
      background-position: -812px 0px; }
    .iti__flag.iti__ca {
      height: 10px;
      background-position: -834px 0px; }
    .iti__flag.iti__cc {
      height: 10px;
      background-position: -856px 0px; }
    .iti__flag.iti__cd {
      height: 15px;
      background-position: -878px 0px; }
    .iti__flag.iti__cf {
      height: 14px;
      background-position: -900px 0px; }
    .iti__flag.iti__cg {
      height: 14px;
      background-position: -922px 0px; }
    .iti__flag.iti__ch {
      height: 15px;
      background-position: -944px 0px; }
    .iti__flag.iti__ci {
      height: 14px;
      background-position: -961px 0px; }
    .iti__flag.iti__ck {
      height: 10px;
      background-position: -983px 0px; }
    .iti__flag.iti__cl {
      height: 14px;
      background-position: -1005px 0px; }
    .iti__flag.iti__cm {
      height: 14px;
      background-position: -1027px 0px; }
    .iti__flag.iti__cn {
      height: 14px;
      background-position: -1049px 0px; }
    .iti__flag.iti__co {
      height: 14px;
      background-position: -1071px 0px; }
    .iti__flag.iti__cp {
      height: 14px;
      background-position: -1093px 0px; }
    .iti__flag.iti__cr {
      height: 12px;
      background-position: -1115px 0px; }
    .iti__flag.iti__cu {
      height: 10px;
      background-position: -1137px 0px; }
    .iti__flag.iti__cv {
      height: 12px;
      background-position: -1159px 0px; }
    .iti__flag.iti__cw {
      height: 14px;
      background-position: -1181px 0px; }
    .iti__flag.iti__cx {
      height: 10px;
      background-position: -1203px 0px; }
    .iti__flag.iti__cy {
      height: 14px;
      background-position: -1225px 0px; }
    .iti__flag.iti__cz {
      height: 14px;
      background-position: -1247px 0px; }
    .iti__flag.iti__de {
      height: 12px;
      background-position: -1269px 0px; }
    .iti__flag.iti__dg {
      height: 10px;
      background-position: -1291px 0px; }
    .iti__flag.iti__dj {
      height: 14px;
      background-position: -1313px 0px; }
    .iti__flag.iti__dk {
      height: 15px;
      background-position: -1335px 0px; }
    .iti__flag.iti__dm {
      height: 10px;
      background-position: -1357px 0px; }
    .iti__flag.iti__do {
      height: 14px;
      background-position: -1379px 0px; }
    .iti__flag.iti__dz {
      height: 14px;
      background-position: -1401px 0px; }
    .iti__flag.iti__ea {
      height: 14px;
      background-position: -1423px 0px; }
    .iti__flag.iti__ec {
      height: 14px;
      background-position: -1445px 0px; }
    .iti__flag.iti__ee {
      height: 13px;
      background-position: -1467px 0px; }
    .iti__flag.iti__eg {
      height: 14px;
      background-position: -1489px 0px; }
    .iti__flag.iti__eh {
      height: 10px;
      background-position: -1511px 0px; }
    .iti__flag.iti__er {
      height: 10px;
      background-position: -1533px 0px; }
    .iti__flag.iti__es {
      height: 14px;
      background-position: -1555px 0px; }
    .iti__flag.iti__et {
      height: 10px;
      background-position: -1577px 0px; }
    .iti__flag.iti__eu {
      height: 14px;
      background-position: -1599px 0px; }
    .iti__flag.iti__fi {
      height: 12px;
      background-position: -1621px 0px; }
    .iti__flag.iti__fj {
      height: 10px;
      background-position: -1643px 0px; }
    .iti__flag.iti__fk {
      height: 10px;
      background-position: -1665px 0px; }
    .iti__flag.iti__fm {
      height: 11px;
      background-position: -1687px 0px; }
    .iti__flag.iti__fo {
      height: 15px;
      background-position: -1709px 0px; }
    .iti__flag.iti__fr {
      height: 14px;
      background-position: -1731px 0px; }
    .iti__flag.iti__ga {
      height: 15px;
      background-position: -1753px 0px; }
    .iti__flag.iti__gb {
      height: 10px;
      background-position: -1775px 0px; }
    .iti__flag.iti__gd {
      height: 12px;
      background-position: -1797px 0px; }
    .iti__flag.iti__ge {
      height: 14px;
      background-position: -1819px 0px; }
    .iti__flag.iti__gf {
      height: 14px;
      background-position: -1841px 0px; }
    .iti__flag.iti__gg {
      height: 14px;
      background-position: -1863px 0px; }
    .iti__flag.iti__gh {
      height: 14px;
      background-position: -1885px 0px; }
    .iti__flag.iti__gi {
      height: 10px;
      background-position: -1907px 0px; }
    .iti__flag.iti__gl {
      height: 14px;
      background-position: -1929px 0px; }
    .iti__flag.iti__gm {
      height: 14px;
      background-position: -1951px 0px; }
    .iti__flag.iti__gn {
      height: 14px;
      background-position: -1973px 0px; }
    .iti__flag.iti__gp {
      height: 14px;
      background-position: -1995px 0px; }
    .iti__flag.iti__gq {
      height: 14px;
      background-position: -2017px 0px; }
    .iti__flag.iti__gr {
      height: 14px;
      background-position: -2039px 0px; }
    .iti__flag.iti__gs {
      height: 10px;
      background-position: -2061px 0px; }
    .iti__flag.iti__gt {
      height: 13px;
      background-position: -2083px 0px; }
    .iti__flag.iti__gu {
      height: 11px;
      background-position: -2105px 0px; }
    .iti__flag.iti__gw {
      height: 10px;
      background-position: -2127px 0px; }
    .iti__flag.iti__gy {
      height: 12px;
      background-position: -2149px 0px; }
    .iti__flag.iti__hk {
      height: 14px;
      background-position: -2171px 0px; }
    .iti__flag.iti__hm {
      height: 10px;
      background-position: -2193px 0px; }
    .iti__flag.iti__hn {
      height: 10px;
      background-position: -2215px 0px; }
    .iti__flag.iti__hr {
      height: 10px;
      background-position: -2237px 0px; }
    .iti__flag.iti__ht {
      height: 12px;
      background-position: -2259px 0px; }
    .iti__flag.iti__hu {
      height: 10px;
      background-position: -2281px 0px; }
    .iti__flag.iti__ic {
      height: 14px;
      background-position: -2303px 0px; }
    .iti__flag.iti__id {
      height: 14px;
      background-position: -2325px 0px; }
    .iti__flag.iti__ie {
      height: 10px;
      background-position: -2347px 0px; }
    .iti__flag.iti__il {
      height: 15px;
      background-position: -2369px 0px; }
    .iti__flag.iti__im {
      height: 10px;
      background-position: -2391px 0px; }
    .iti__flag.iti__in {
      height: 14px;
      background-position: -2413px 0px; }
    .iti__flag.iti__io {
      height: 10px;
      background-position: -2435px 0px; }
    .iti__flag.iti__iq {
      height: 14px;
      background-position: -2457px 0px; }
    .iti__flag.iti__ir {
      height: 12px;
      background-position: -2479px 0px; }
    .iti__flag.iti__is {
      height: 15px;
      background-position: -2501px 0px; }
    .iti__flag.iti__it {
      height: 14px;
      background-position: -2523px 0px; }
    .iti__flag.iti__je {
      height: 12px;
      background-position: -2545px 0px; }
    .iti__flag.iti__jm {
      height: 10px;
      background-position: -2567px 0px; }
    .iti__flag.iti__jo {
      height: 10px;
      background-position: -2589px 0px; }
    .iti__flag.iti__jp {
      height: 14px;
      background-position: -2611px 0px; }
    .iti__flag.iti__ke {
      height: 14px;
      background-position: -2633px 0px; }
    .iti__flag.iti__kg {
      height: 12px;
      background-position: -2655px 0px; }
    .iti__flag.iti__kh {
      height: 13px;
      background-position: -2677px 0px; }
    .iti__flag.iti__ki {
      height: 10px;
      background-position: -2699px 0px; }
    .iti__flag.iti__km {
      height: 12px;
      background-position: -2721px 0px; }
    .iti__flag.iti__kn {
      height: 14px;
      background-position: -2743px 0px; }
    .iti__flag.iti__kp {
      height: 10px;
      background-position: -2765px 0px; }
    .iti__flag.iti__kr {
      height: 14px;
      background-position: -2787px 0px; }
    .iti__flag.iti__kw {
      height: 10px;
      background-position: -2809px 0px; }
    .iti__flag.iti__ky {
      height: 10px;
      background-position: -2831px 0px; }
    .iti__flag.iti__kz {
      height: 10px;
      background-position: -2853px 0px; }
    .iti__flag.iti__la {
      height: 14px;
      background-position: -2875px 0px; }
    .iti__flag.iti__lb {
      height: 14px;
      background-position: -2897px 0px; }
    .iti__flag.iti__lc {
      height: 10px;
      background-position: -2919px 0px; }
    .iti__flag.iti__li {
      height: 12px;
      background-position: -2941px 0px; }
    .iti__flag.iti__lk {
      height: 10px;
      background-position: -2963px 0px; }
    .iti__flag.iti__lr {
      height: 11px;
      background-position: -2985px 0px; }
    .iti__flag.iti__ls {
      height: 14px;
      background-position: -3007px 0px; }
    .iti__flag.iti__lt {
      height: 12px;
      background-position: -3029px 0px; }
    .iti__flag.iti__lu {
      height: 12px;
      background-position: -3051px 0px; }
    .iti__flag.iti__lv {
      height: 10px;
      background-position: -3073px 0px; }
    .iti__flag.iti__ly {
      height: 10px;
      background-position: -3095px 0px; }
    .iti__flag.iti__ma {
      height: 14px;
      background-position: -3117px 0px; }
    .iti__flag.iti__mc {
      height: 15px;
      background-position: -3139px 0px; }
    .iti__flag.iti__md {
      height: 10px;
      background-position: -3160px 0px; }
    .iti__flag.iti__me {
      height: 10px;
      background-position: -3182px 0px; }
    .iti__flag.iti__mf {
      height: 14px;
      background-position: -3204px 0px; }
    .iti__flag.iti__mg {
      height: 14px;
      background-position: -3226px 0px; }
    .iti__flag.iti__mh {
      height: 11px;
      background-position: -3248px 0px; }
    .iti__flag.iti__mk {
      height: 10px;
      background-position: -3270px 0px; }
    .iti__flag.iti__ml {
      height: 14px;
      background-position: -3292px 0px; }
    .iti__flag.iti__mm {
      height: 14px;
      background-position: -3314px 0px; }
    .iti__flag.iti__mn {
      height: 10px;
      background-position: -3336px 0px; }
    .iti__flag.iti__mo {
      height: 14px;
      background-position: -3358px 0px; }
    .iti__flag.iti__mp {
      height: 10px;
      background-position: -3380px 0px; }
    .iti__flag.iti__mq {
      height: 14px;
      background-position: -3402px 0px; }
    .iti__flag.iti__mr {
      height: 14px;
      background-position: -3424px 0px; }
    .iti__flag.iti__ms {
      height: 10px;
      background-position: -3446px 0px; }
    .iti__flag.iti__mt {
      height: 14px;
      background-position: -3468px 0px; }
    .iti__flag.iti__mu {
      height: 14px;
      background-position: -3490px 0px; }
    .iti__flag.iti__mv {
      height: 14px;
      background-position: -3512px 0px; }
    .iti__flag.iti__mw {
      height: 14px;
      background-position: -3534px 0px; }
    .iti__flag.iti__mx {
      height: 12px;
      background-position: -3556px 0px; }
    .iti__flag.iti__my {
      height: 10px;
      background-position: -3578px 0px; }
    .iti__flag.iti__mz {
      height: 14px;
      background-position: -3600px 0px; }
    .iti__flag.iti__na {
      height: 14px;
      background-position: -3622px 0px; }
    .iti__flag.iti__nc {
      height: 10px;
      background-position: -3644px 0px; }
    .iti__flag.iti__ne {
      height: 15px;
      background-position: -3666px 0px; }
    .iti__flag.iti__nf {
      height: 10px;
      background-position: -3686px 0px; }
    .iti__flag.iti__ng {
      height: 10px;
      background-position: -3708px 0px; }
    .iti__flag.iti__ni {
      height: 12px;
      background-position: -3730px 0px; }
    .iti__flag.iti__nl {
      height: 14px;
      background-position: -3752px 0px; }
    .iti__flag.iti__no {
      height: 15px;
      background-position: -3774px 0px; }
    .iti__flag.iti__np {
      height: 15px;
      background-position: -3796px 0px; }
    .iti__flag.iti__nr {
      height: 10px;
      background-position: -3811px 0px; }
    .iti__flag.iti__nu {
      height: 10px;
      background-position: -3833px 0px; }
    .iti__flag.iti__nz {
      height: 10px;
      background-position: -3855px 0px; }
    .iti__flag.iti__om {
      height: 10px;
      background-position: -3877px 0px; }
    .iti__flag.iti__pa {
      height: 14px;
      background-position: -3899px 0px; }
    .iti__flag.iti__pe {
      height: 14px;
      background-position: -3921px 0px; }
    .iti__flag.iti__pf {
      height: 14px;
      background-position: -3943px 0px; }
    .iti__flag.iti__pg {
      height: 15px;
      background-position: -3965px 0px; }
    .iti__flag.iti__ph {
      height: 10px;
      background-position: -3987px 0px; }
    .iti__flag.iti__pk {
      height: 14px;
      background-position: -4009px 0px; }
    .iti__flag.iti__pl {
      height: 13px;
      background-position: -4031px 0px; }
    .iti__flag.iti__pm {
      height: 14px;
      background-position: -4053px 0px; }
    .iti__flag.iti__pn {
      height: 10px;
      background-position: -4075px 0px; }
    .iti__flag.iti__pr {
      height: 14px;
      background-position: -4097px 0px; }
    .iti__flag.iti__ps {
      height: 10px;
      background-position: -4119px 0px; }
    .iti__flag.iti__pt {
      height: 14px;
      background-position: -4141px 0px; }
    .iti__flag.iti__pw {
      height: 13px;
      background-position: -4163px 0px; }
    .iti__flag.iti__py {
      height: 11px;
      background-position: -4185px 0px; }
    .iti__flag.iti__qa {
      height: 8px;
      background-position: -4207px 0px; }
    .iti__flag.iti__re {
      height: 14px;
      background-position: -4229px 0px; }
    .iti__flag.iti__ro {
      height: 14px;
      background-position: -4251px 0px; }
    .iti__flag.iti__rs {
      height: 14px;
      background-position: -4273px 0px; }
    .iti__flag.iti__ru {
      height: 14px;
      background-position: -4295px 0px; }
    .iti__flag.iti__rw {
      height: 14px;
      background-position: -4317px 0px; }
    .iti__flag.iti__sa {
      height: 14px;
      background-position: -4339px 0px; }
    .iti__flag.iti__sb {
      height: 10px;
      background-position: -4361px 0px; }
    .iti__flag.iti__sc {
      height: 10px;
      background-position: -4383px 0px; }
    .iti__flag.iti__sd {
      height: 10px;
      background-position: -4405px 0px; }
    .iti__flag.iti__se {
      height: 13px;
      background-position: -4427px 0px; }
    .iti__flag.iti__sg {
      height: 14px;
      background-position: -4449px 0px; }
    .iti__flag.iti__sh {
      height: 10px;
      background-position: -4471px 0px; }
    .iti__flag.iti__si {
      height: 10px;
      background-position: -4493px 0px; }
    .iti__flag.iti__sj {
      height: 15px;
      background-position: -4515px 0px; }
    .iti__flag.iti__sk {
      height: 14px;
      background-position: -4537px 0px; }
    .iti__flag.iti__sl {
      height: 14px;
      background-position: -4559px 0px; }
    .iti__flag.iti__sm {
      height: 15px;
      background-position: -4581px 0px; }
    .iti__flag.iti__sn {
      height: 14px;
      background-position: -4603px 0px; }
    .iti__flag.iti__so {
      height: 14px;
      background-position: -4625px 0px; }
    .iti__flag.iti__sr {
      height: 14px;
      background-position: -4647px 0px; }
    .iti__flag.iti__ss {
      height: 10px;
      background-position: -4669px 0px; }
    .iti__flag.iti__st {
      height: 10px;
      background-position: -4691px 0px; }
    .iti__flag.iti__sv {
      height: 12px;
      background-position: -4713px 0px; }
    .iti__flag.iti__sx {
      height: 14px;
      background-position: -4735px 0px; }
    .iti__flag.iti__sy {
      height: 14px;
      background-position: -4757px 0px; }
    .iti__flag.iti__sz {
      height: 14px;
      background-position: -4779px 0px; }
    .iti__flag.iti__ta {
      height: 10px;
      background-position: -4801px 0px; }
    .iti__flag.iti__tc {
      height: 10px;
      background-position: -4823px 0px; }
    .iti__flag.iti__td {
      height: 14px;
      background-position: -4845px 0px; }
    .iti__flag.iti__tf {
      height: 14px;
      background-position: -4867px 0px; }
    .iti__flag.iti__tg {
      height: 13px;
      background-position: -4889px 0px; }
    .iti__flag.iti__th {
      height: 14px;
      background-position: -4911px 0px; }
    .iti__flag.iti__tj {
      height: 10px;
      background-position: -4933px 0px; }
    .iti__flag.iti__tk {
      height: 10px;
      background-position: -4955px 0px; }
    .iti__flag.iti__tl {
      height: 10px;
      background-position: -4977px 0px; }
    .iti__flag.iti__tm {
      height: 14px;
      background-position: -4999px 0px; }
    .iti__flag.iti__tn {
      height: 14px;
      background-position: -5021px 0px; }
    .iti__flag.iti__to {
      height: 10px;
      background-position: -5043px 0px; }
    .iti__flag.iti__tr {
      height: 14px;
      background-position: -5065px 0px; }
    .iti__flag.iti__tt {
      height: 12px;
      background-position: -5087px 0px; }
    .iti__flag.iti__tv {
      height: 10px;
      background-position: -5109px 0px; }
    .iti__flag.iti__tw {
      height: 14px;
      background-position: -5131px 0px; }
    .iti__flag.iti__tz {
      height: 14px;
      background-position: -5153px 0px; }
    .iti__flag.iti__ua {
      height: 14px;
      background-position: -5175px 0px; }
    .iti__flag.iti__ug {
      height: 14px;
      background-position: -5197px 0px; }
    .iti__flag.iti__um {
      height: 11px;
      background-position: -5219px 0px; }
    .iti__flag.iti__un {
      height: 14px;
      background-position: -5241px 0px; }
    .iti__flag.iti__us {
      height: 11px;
      background-position: -5263px 0px; }
    .iti__flag.iti__uy {
      height: 14px;
      background-position: -5285px 0px; }
    .iti__flag.iti__uz {
      height: 10px;
      background-position: -5307px 0px; }
    .iti__flag.iti__va {
      height: 15px;
      background-position: -5329px 0px; }
    .iti__flag.iti__vc {
      height: 14px;
      background-position: -5346px 0px; }
    .iti__flag.iti__ve {
      height: 14px;
      background-position: -5368px 0px; }
    .iti__flag.iti__vg {
      height: 10px;
      background-position: -5390px 0px; }
    .iti__flag.iti__vi {
      height: 14px;
      background-position: -5412px 0px; }
    .iti__flag.iti__vn {
      height: 14px;
      background-position: -5434px 0px; }
    .iti__flag.iti__vu {
      height: 12px;
      background-position: -5456px 0px; }
    .iti__flag.iti__wf {
      height: 14px;
      background-position: -5478px 0px; }
    .iti__flag.iti__ws {
      height: 10px;
      background-position: -5500px 0px; }
    .iti__flag.iti__xk {
      height: 15px;
      background-position: -5522px 0px; }
    .iti__flag.iti__ye {
      height: 14px;
      background-position: -5544px 0px; }
    .iti__flag.iti__yt {
      height: 14px;
      background-position: -5566px 0px; }
    .iti__flag.iti__za {
      height: 14px;
      background-position: -5588px 0px; }
    .iti__flag.iti__zm {
      height: 14px;
      background-position: -5610px 0px; }
    .iti__flag.iti__zw {
      height: 10px;
      background-position: -5632px 0px; }

  .iti__flag {
    height: 15px;
    box-shadow: 0px 0px 1px 0px #888;
    background-image: url("../imgs/flags.png");
    background-repeat: no-repeat;
    background-color: #DBDBDB;
    background-position: 20px 0; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .iti__flag {
        background-image: url("../imgs/flags@2x.png"); } }

  .iti__flag.iti__np {
    background-color: transparent; }
    .iti__hide {
        display: none; }

      pre {
        margin: 0 !important;
        display: inline-block; }

      .token.operator,
      .token.entity,
      .token.url,
      .language-css .token.string,
      .style .token.string,
      .token.variable {
        background: none; }
    /* country picker */


    /* online or ofline switch */

.onoffswitch {
  position: relative;
  width: 74px;
  margin-top: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
}
.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 15px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 11px;
  background-color: #00f218;
  color: #ffffff;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 11px;
  background-color: #eeeeee;
  color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  width: 26px;
  margin: 2px;
  background: #ffffff;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 44px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

/* width kg */
.margin-select {
  margin-left: -200px;
  width: 200px;
}

.zindex {
  z-index: 99;
}

.width {
  margin-left: 60px;
}

.width .ui {
  border: none !important;
  background: none !important;
  text-align: left;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.width .ui.selection.dropdown {
  right: 80px;
  min-width: 7em;
}

.width .pl-20 {
  text-indent: 80px;
}
  
select.ui.dropdown {
    height: 38px;
    padding: .5em !important;
    border: 1px solid rgba(34,36,38,.15);
    visibility: visible;
}

/* width kg */

/* online or ofline */
